# configuration files
*config.json
grantsbot_settings.*
*cnf*
# compiled modules
*.pyc
# subdirectories
data/
logs/
modules/
old_scripts/
*/log/
# crud
*.DS_Store
*.InterarchyMirrorCacheData
*Icon*
*.swp
*time.log
